.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container to control the iframe size */
.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 59.77%;
  width: 60%; /* 100% - 2*20% padding = 60% width */
  margin: 0;
}

/* The iframe itself */
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  border: 0;
  clip-path: inset(0% 0% 6% 0%);
}



/* Container to control the iframe size */
.responsive-iframe-container-forcast{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 59.77%;
  width: 60%; /* 100% - 2*20% padding = 60% width */
  margin: 0;
}

/* The iframe itself */
.responsive-iframe-container-forcast iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  border: 0;
  clip-path: inset(0% 2% 9% 2%);
}


/* Header */
nav {
  background-color: #343a40; /* Dark background */
  padding: 0.5rem 1rem; /* Padding around the navigation */
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Display menu items inline */
  justify-content: center; /* Center the menu items horizontally */
}

nav ul li {
  margin: 0 1rem; /* Margin between menu items */
}

nav ul li a {
  color: white; /* Light color for the links */
  text-decoration: none; /* Remove underline from links */
  font-size: 1.1rem; /* Slightly larger font size */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover,
nav ul li a:focus {
  color: #f8d7da; /* Light red color on hover/focus */
}